<div class="main">

  <app-side-menu></app-side-menu>

  <div class="center">
    <ng-content></ng-content>
  </div>

  <div class="right-side">

    <app-search-bar></app-search-bar>
    <app-trending></app-trending>
    <app-side-recommended></app-side-recommended>

    <div class="side-links">

      <a>Condiciones de Servicio</a>
      <a>Política de Privacidad</a>
      <a>Política de cookies</a>
      <a>Accesibilidad</a>
      <a>Información de anuncions</a>
      <a>Más opciones</a>
      <a>© 2022 Twitter, Inc.</a>

    </div>

  </div>

</div>

