<div class="lock">

  <div class="logo">
    <svg id="tweet-logo" viewBox="0 0 24 24">
    <g>
      <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
    </g>
    </svg>
    <img id="lock-background" src="assets/lock/lock.avif" alt="">

  </div>

  <div class="login">

    <svg id="tweet-logo-small" viewBox="0 0 24 24">
      <g>
        <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
      </g>
      </svg>

    <h1>Lo que está pasando ahora</h1>
    <h2>Únete a Twitter hoy mismo.</h2>

    <div>

      <form [formGroup]="form">

        <div class="input">
          <label class="input-label" for="username" id="username-label" [ngClass]="{'filled': form.controls['username'].value != ''}">Usuario</label>
          <input type="text" id="username" formControlName="username">
        </div>

        <div class="input">
          <label class="input-label" for="password" id="password-label" [ngClass]="{'filled': form.controls['password'].value != ''}">Contraseña</label>
          <input type="password" id="password" formControlName="password">
        </div>

        <p class="terms">Al registrarte, aceptas los Términos de servicio y la Política de privacidad, incluida la política de Uso de Cookies. (Mentira!)</p>
        <button class="button-ok" (click)="login()">Iniciar sesión</button>

      </form>


    </div>

    <div class="log">
      <h3>¿No tienes una cuenta?</h3>
      <button (click)="register = true">Registrarte</button>
    </div>


  </div>

</div>

<div class="footer">
  <p>Información</p>
  <p>Centro de Ayuda</p>
  <p>Condiciones de Servicio</p>
  <p>Politica de Privacidad</p>
  <p>Política de Donuts</p>
  <p>Accesibilidad</p>
  <p>Información de anuncios</p>
  <p>Blog</p>
  <p>Estado</p>
  <p>Empleos</p>
  <p>Recursos para marcas</p>
  <p>Publicidad</p>
  <p>Marketing</p>
  <p>Twitter para empresas</p>
  <p>Desarrolladores</p>
  <p>Guía</p>
  <p>Configuración</p>
  <p>© 2022 SingleVoid, Inc</p>
</div>

<app-register *ngIf="register == true" (closeEvent)="register = false"></app-register>
