
<app-main>

  <div class="top-bar" *ngIf="user">

    <div class="top-bar-user">
      <p>{{user.user_nickname}}</p>
      <p class="user-tweets">{{user.total_tweets}} Tweets</p>
    </div>

  </div>


  <div class="profile-info" *ngIf="this.user" (click)="tweetClicked($event)" >


    <img class="profile-background" *ngIf="user.background" [src]="user?.background" alt="">
    <div class="profile-background" *ngIf="!user.background"></div>

    <img class="profile-avatar" [src]="user?.avatar" alt="">

    <div class="profile-data">
      <div class="profile-actions"></div>

      <div class="user">
        <div class="user-nickname-u">
          <h1>{{user?.user_nickname}}</h1>
          <svg class="verified" *ngIf="user?.verified" viewBox="0 0 24 24">
            <g><path d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"></path></g>
          </svg>
        </div>


        <div class="user-bio-actions">

          <button class="white-button edit" *ngIf="user.user_id == userService.user?.user_id" (click)="edit = true">Editar Perfil</button>

          <button *ngIf="!user?.followed && user.user_id != userService.user?.user_id" class="white-button follow">Seguir</button>
          <button  *ngIf="user?.followed && user.user_id != userService.user?.user_id" class="white-button followed"></button>

        </div>


        <p class="profile-username" *ngIf="user?.user_id" >@{{user?.user_name}}</p>
        <app-tweet-text [text]="user.description"></app-tweet-text>
        <h1 *ngIf="!user?.user_id">@{{this.name}}</h1>
        <div class="follow-data" *ngIf="user?.user_id">

          <p [routerLink]="[user.user_name,]">

            <span class="clickable" [routerLink]="['', user.user_name, 'following']">
            {{user?.following}}
            <span class="follow-text">Siguiendo</span>
           </span>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <span class="clickable" [routerLink]="['', user.user_name, 'followers']">
            {{user?.followers}}
            <span class="follow-text">Seguidores</span></span></p>

        </div>
      </div>
    </div>


    <div class="timeline-actions">

      <div class="timeline-action" [ngClass]="{'selected': mode == 'normal'}" (click)="setMode('normal')">Tweets<div class="indicator" *ngIf="mode == 'normal'"></div></div>
      <div class="timeline-action" [ngClass]="{'selected': mode == 'all_replies'}" (click)="setMode('all_replies')">Tweets y respuestas<div class="indicator" *ngIf="mode == 'all_replies'"></div></div>
      <div class="timeline-action" [ngClass]="{'selected': mode == 'images'}" (click)="setMode('images')">Fotos y videos<div class="indicator" *ngIf="mode == 'images'"></div></div>
      <div class="timeline-action" [ngClass]="{'selected': mode == 'likes'}" (click)="setMode('likes')">Me gusta<div class="indicator" *ngIf="mode == 'likes'"></div></div>
    </div>


  </div>

  <div class="fixed-tweet" *ngIf="mode == 'normal'">
    <app-tweet *ngIf="user && user.fixed_tweet" [tweet_id]="user.fixed_tweet"></app-tweet>
  </div>


  <app-timeline></app-timeline>

</app-main>


<app-edit-profile *ngIf="edit && user" [user]="user" (close)="closeEdit()"></app-edit-profile>
