.register{
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.301);
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  background-color: black;
  border-radius: 1em;
  svg{
    width: 2em;
    height: 2em;
    color: white;
    fill: currentColor;
  }
}

.button-ok:disabled{
  background-color: rgba(255, 255, 255, 0.301);
  color: black;
}


form{
  display: flex;
  flex-direction: column;
  width: 50em;
  align-items: center;
  p{
    max-width: 40ch;
    color: gray;
  }
  .error{
    color: red;
    font-size: 12pt ;
  }
}

input[type="text"]{
  background-color: black;
  font-size: 18pt;
  border: 1px solid rgb(70, 70, 70);
  padding: 0.5em;
  padding-top: 1.2em;
  border-radius: 0.2em;
  color: white;
  width: 15em;
}

input[type="password"]{
  background-color: black;
  font-size: 18pt;
  border: 1px solid rgb(70, 70, 70);
  padding: 0.5em;
  padding-top: 1.2em;
  border-radius: 0.2em;
  color: white;
  width: 15em;
}


input[type="text"]:focus{
  border: 1px solid rgb(29, 155, 240);
  outline: none;
}

input[type="password"]:focus{
  border: 1px solid rgb(29, 155, 240);
  outline: none;
}


.input{
  position: relative;
  margin: 0.5em;
  &:focus-within{
    label{
      font-size: 10pt;
      top: 0.8em;
      color: rgb(29, 155, 240);
    }
  }
}


.input-label{
  position: absolute;
  left: 1em;
  top: 1.3em;
  color: rgb(103, 103, 103);
  font-size: 14pt;
  transition: all 0.25s ease-in-out;
}

.filled{
  font-size: 10pt;
  top: 0.8em;
  color: rgb(103, 103, 103);
}

input:focus + #username-label{
  color: red;
  font-size: 20pt;
}


button{
  background-color: transparent;
  border:  1px solid rgb(70, 70, 70);
  color: rgb(29, 155, 240);
  border-radius: 2em;
  padding: 0.8em;
  padding-left: 6em;
  padding-right: 6em;
  font-size: 14pt;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}



.button-ok{
  background-color: white;
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}

.button-ok:disabled{
  background-color: rgb(85, 85, 85);
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}

.close{
  position: absolute;
  left: 1em;
  top: 1em;
  cursor: pointer;
  padding: 0.3em;
  border-radius: 2em;
}

.close:hover{
  color: rgb(29, 155, 240);
  background-color:rgba(255, 255, 255, 0.121) ;
}
